<!--The content below is only a placeholder and can be replaced.-->
    <div class="container container-left" width=100% >
            <div class="row">
                    <div class="col">
                            <div class="main-header">Task Manager</div>
                    </div>
                </div>
                <div class="row">
                  <a  class="navbar-nav content-header col-sm col-md-2" routerLink="/add-project" >Add Project</a>
                  <a  class="navbar-nav content-header col-sm col-md-2" routerLink="/add-task" >Add Task</a>
                  <a  class="navbar-nav content-header col-sm col-md-2" routerLink="/add-user" >Add User</a>
                  <a  class="navbar-nav content-header col-sm col-md-2" routerLink="/view-task">View Task</a>

                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
                <router-outlet></router-outlet>
    </div>

